@media screen and(max-width:600px)
	body 
		background green
	header, div, article
		display block
		text-align center
	
	#inventarios, #musica
		margin-bottom 20px
		max-width 80%

	#imginventarios
		height 200px
		width 200px	

	#imgmusica
		height 200px
		width 200px	

	#imginventarios:hover
		height 210px
		width 210px	

	#imgmusica:hover
		height 210px
		width 210px	
